 /* General Styles */
 * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: #113003;
    color: white;
    padding: 10px 0;
}

.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links ul {
    list-style: none;
    text-align: right;
    align-items: end;
    
}
.left-side{
  display: flex;
}
.left-side img{
  margin-right: 10px;
}
.left-side h1{
  margin: 0;
  font-size: 24px;
  color: white;
}

.nav-links li {
    margin: 0 15px;
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Hero Section Styles */
#hola {
    min-height: 100vh;
    background-color: #7fa136; /* Soft background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(cool-background.png);
    background-size: cover;
}


#hola h1 {
    font-size: 48px;
    color: #405511;
    position: relative; z-index: 1;
}

#hola p {
    font-size: 24px;
    position: relative; z-index: 1;
}

/* About Us Section */
#about-us, #comunidad, #contact {
    padding: 50px;
    text-align: center;
    min-height: 50vh;
}

/* Footer Styles */
footer {
    background-color: #C33130;
    color: white;
    text-align: center;
    padding: 10px 0;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in forwards;
}


.container {
  height: 200px;
  position: relative;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 10px 20px #dbdbdb;
  font-family: sans-serif;
}

.palette {
  display: flex;
  height: 86%;
  width: 100%;
}

.color {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: flex 0.1s linear;
 
}

.color span {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.color:nth-child(1) {
  background: #264653;
  background-size: contain;
  
}

.color:nth-child(2) {
  background: #2a9d8f;
  background-size: contain;
}

.color:nth-child(3) {
  background: #e9c46a;
  background-size: contain;
}

.color:nth-child(4) {
  background: #f4a261;
  background-size: contain;
}

.color:nth-child(5) {
  background: #e76f51;
  background-size: contain;
}

.color:hover {
  flex: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover span {
  opacity: 1;
}


.parent-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.parent {
    width: 300px;
    padding: 20px;
    perspective: 1000px;
  }
  
  .card {
    padding-top: 50px;
    /* border-radius: 10px; */
    border: 3px solid rgb(255, 255, 255);
    transform-style: preserve-3d;
    background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
        repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
    background-size: 60px 60px;
    background-position: 0 0, 0 0;
    background-color: #f0f0f0;
    width: 100%;
    box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
    transition: all 0.5s ease-in-out;
    height: 500px;
  }
  
  .card:hover {
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
  }
  
  .content-box {
    background: #7fa136;
    /* border-radius: 10px 100px 10px 10px; */
    transition: all 0.5s ease-in-out;
    padding: 60px 25px 25px 25px;
    transform-style: preserve-3d;
    height: 400px;
  }
  
  .content-box .card-title {
    display: inline-block;
    color: #113003;
    font-size: 25px;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 50px);
  }
  
  .content-box .card-title:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .content-box .card-content {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    color: #f2f2f2;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 30px);
  }
  
  .content-box .card-content:hover {
    transform: translate3d(0px, 0px, 60px);
  }
  
  .content-box .see-more {
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-weight: 900;
    font-size: 9px;
    text-transform: uppercase;
    color: #113003;
    /* border-radius: 5px; */
    background: white;
    padding: 0.5rem 0.7rem;
    transition: all 0.5s ease-in-out;
    transform: translate3d(0px, 0px, 20px);
  }
  
  .content-box .see-more:hover {
    transform: translate3d(0px, 0px, 60px);
    text-decoration: none;
  }
  .see-more{
    text-decoration: none;
  }

  .izquierda{
    margin: 10px;
    border-radius: 100vh;
    border-style: solid;
    width: 50%;
    height: 100%;
    background-color: #f2f2f2;
    
  }
  #about-us{
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  .derecha{
    border-style: solid;
    width: 50%;
    height: 100%;
    
  }
  
